<?xml version="1.0"?>
<launch>
  <arg name="config_file_1" default="$(find robot_bringup)/config/ros1/lucid_config.yaml" />
  <arg name="config_file_2" default="$(find robot_bringup)/config/ros1/lucid_2_config.yaml" />

  <!--<group ns="lucid1">
    <node name="arena_camera_node" pkg="arena_camera" type="arena_camera_node" output="screen">
      <rosparam command="load" file="$(arg config_file_1)" />
    </node>
  </group>-->

  <group ns="lucid2">
    <node name="arena_camera_node" pkg="arena_camera" type="arena_camera_node" output="screen">
      <rosparam command="load" file="$(arg config_file_2)" />
    </node>
  </group>
</launch>