<launch>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="enable_infra" value="false"/>
    <arg name="enable_infra1" value="true"/>
    <arg name="enable_infra2" value="true"/>
    <arg name="infra_fps" value="30"/>
    <arg name="serial_no" value=""/>
    <arg name="camera" value="camera"/>
    <arg name="enable_depth" value="false"/>
    <!--<arg name="enable_accel" value="true"/>
    <arg name="enable_gyro" value="true"/>
    <arg name="unite_imu_method" value="linear_interpolation"/>
    <arg name="depth_module.output_trigger_enabled " default="true"/>
    <arg name="inter_cam_sync_mode" value="1"/>
    -->
  </include>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="enable_infra" value="false"/>
    <arg name="enable_infra1" value="true"/>
    <arg name="enable_infra2" value="true"/>
    <arg name="infra_fps" value="30"/>
    <arg name="serial_no" value="default"/>
    <arg name="camera" value="camera2"/>
    <arg name="enable_depth" value="false"/>
    <!--<arg name="enable_accel" value="true"/>
    <arg name="enable_gyro" value="true"/>
    <arg name="unite_imu_method" value="linear_interpolation"/>
    <arg name="depth_module.output_trigger_enabled " default="true"/>
    <arg name="inter_cam_sync_mode" value="1"/>
    -->
  </include>

  <node pkg="senti_sensor_synch" 
        type="realsense_synch_node" 
        name="camera1_synch"
        output="screen">

        <param name="left_topic" value="/camera1/infra1/image_rect_raw"/>
        <param name="right_topic" value="/camera1/infra2/image_rect_raw"/>
        <param name="ic_topic" value="/senti/senti/camera/ic"/>
        <param name="left_output_topic" value="/synched/camera1/infra1/img_rect_raw"/>
        <param name="right_output_topic" value="/synched/camera1/infra2/img_rect_raw"/>

  </node>

  <node pkg="senti_sensor_synch" 
        type="realsense_synch_node" 
        name="camera2_synch"
        output="screen">

        <param name="left_topic" value="/camera2/infra1/image_rect_raw"/>
        <param name="right_topic" value="/camera2/infra2/image_rect_raw"/>
        <param name="ic_topic" value="/senti/senti/ic_camera2"/>
        <param name="left_output_topic" value="/synched/camera2/infra1/img_rect_raw"/>
        <param name="right_output_topic" value="/synched/camera2/infra2/img_rect_raw"/>
   
  </node>

  <node pkg="senti_sensor_synch" 
        type="ouster_synch_node" 
        name="ouster_synch_node"
        output="screen">
   
  </node>
    
</launch>